############################################
# DESCRIPTION OF OPTIONS USED IN THIS FILE #
############################################
# Bypass <enter information manually> prompt
d-i mirror/country string manual
#
# Set Raspbian mirror
d-i mirror/http/hostname string mirrordirector.raspbian.org
#
# Set Raspbian mirror directory
d-i mirror/http/directory string /raspbian/
#
# No http proxy specified; If you need one, enter it after the "string"
d-i mirror/http/proxy string 
#
# Continue the install without loading kernel modules? <Yes>
d-i anna/no_kernel_modules boolean true 
#
# Set root password as "root"
d-i passwd/root-password password root
d-i passwd/root-password-again password root
#
# Bypass normal user account creation; Set to "true" or comment out if you want to create a user
d-i passwd/make-user boolean false
#
# Select your time zone: <Eastern>
d-i time/zone string US/Eastern
#
# Bypass <Finish partitioning and write changes to disk> prompt
d-i partman/choose_partition select finish
#
# Write the changes to disk? <Yes>
d-i partman/confirm boolean true
#
# Continue without installing a kernel? <Yes>
bootstrap-base base-installer/kernel/skip-install boolean true
#
# Install displays a warning because the security package is not associated with Raspbian.
# Passing the installer an emtpy string on where to find this repository bypasses the error.
d-i apt-setup/security_host string
#
# Participate in the package usage survey? <No>
d-i popularity-contest/participate boolean false 
#
# Choose software to install: SSH server, Standard system utilities
d-i tasksel/first multiselect SSH server, Standard system utilities 
#
# Continue without boot loader <Continue>
d-i nobootloader/confirmation_common boolean true
